.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    background-color: #fff;
    // &::after{
    //     content: '';
    //     flex: auto;
    // }
    .movietype{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.detail {
    .title{
        font-size: 30px;
        text-align: center;
    }
    .imgWrap{
        text-align: center;
        img{
            width: 260px;
        }
    }
    .con{
        margin-top: 20px;
        line-height: 30px;
        p{
            text-indent: 28px;
        }
    }
}